<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573179000701-651o14u25o7vv17upn4b37peeg7p2v5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573179000701-651o14u25o7vv17upn4b37peeg7p2v5l</string>
	<key>API_KEY</key>
	<string>AIzaSyCStPqo7XWP5P8glwn0DvHBiC0wU7BS2fI</string>
	<key>GCM_SENDER_ID</key>
	<string>573179000701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fourlynx.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-cd5e2</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-cd5e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573179000701:ios:82a0eec8e6cba9a6097e14</string>
</dict>
</plist>